:root {
    --primary-color : rgb(245, 192, 0);
    --primary: blue;
}

div {
    --primary-color:pink;
    background-color: var(--primary-color);
    color: var(--primary);

}

span {
    color: var(--primary-color);
}

