@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

:root {
    --primary-color:blue;
}
/* 

div > p {
  color: green;
}

div b {
  color: yellow;
}


div + p {
    font-weight: bold;
}

div ~ span {
    background-color: #808080;
} */

div p.text {
  color: rgba(255, 0, 0, 0.5);
}

div p.text {
  /* color: hsla(0, 100%, 50%,0.1); */
  color: #000;
  /* color: #abc; */
  /* opacity:0.1 */
  font-family: "Science Gothic", Arial, sans-serif;
  font-size: 50%;
  font-weight: normal;
  letter-spacing: 12px;
  word-spacing: 24px;
  text-shadow: -1px 2px 0px green;
}

div p.text::first-letter {
  font-style: italic;
}

div p.text::first-line {
  --primary-color: gray;
  background-color: var(--primary-color);
}

div p.text:hover {
  opacity: 0.5;
}

div p.text:active {
  text-decoration: underline;
}

/* div p.text:focus {
    text-shadow: none;
} */
input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

img {
  /* color: green; */
}

span {
  background-color: red;
  overflow-y: auto;
  padding: 4px;
  margin: 16px;
  border: 1px solid green;
  /* display: none; */
  visibility: hidden;
  /* height: 250px; */
  /* display: inline-block; */
}

ul {
  list-style-position: inside;
  list-style-type: lower-roman;
  /* list-style-image: ; */
  list-style: inside decimal-leading-zero;
}
li {
  background-color: var(--primary-color);
}

table {
  border: 1px solid brown;
  /* border-collapse:collapse; */
  border-spacing: 8px;
  empty-cells: hide;
  /* cursor; */
}

td {
  border: 1px solid brown;
}

tr {
  border: 2px solid bisque;
}

div.relative {
  background-color: yellow;
  height: 150px;
  width: 150px;
  position: relative;
  top: 50px;
}

div.static,
div.absolute,
div.fixed {
  height: 20px;
  width: 20px;
  background-color: var(--primary-color);
}

div.absolute {
  background-color: gray;
  position: absolute;
  right: 0;
}

div.fixed {
  position: fixed;
  bottom: 10px;
  z-index: 2;
}
