<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="bg"></div>
    <div class="sticky"></div>


    <!-- <div>1</div>
    <div class="parent-sticky">
        
        <div class="child"></div>
    </div>
    <div>3</div> -->


    <!-- <div id="box-1"></div> -->
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia fugit sapiente perspiciatis deleniti. Sapiente
        eaque, atque maxime tempora temporibus repellat. Sapiente sunt impedit temporibus sed harum eius consectetur.
        Officia, at.
        Facere et ratione necessitatibus impedit minus dolores? Ab, magnam sapiente, corporis dicta vitae, repellendus
        sed soluta expedita asperiores laboriosam est iure esse aut error eum architecto officiis laudantium. Voluptate,
        iure!
        Debitis dolores perspiciatis, itaque, doloribus odit amet tempore dolore autem molestiae aperiam accusamus magni
        illum non minima ab rerum molestias doloremque architecto nemo nobis ex dolor! Aut suscipit itaque ducimus.
        Accusantium voluptatum voluptate assumenda consequatur voluptates dolores deleniti laboriosam enim nostrum
        dolore, quae modi nihil rerum perferendis accusamus pariatur odio sed officia, aperiam odit quasi! Cum neque
        necessitatibus ratione molestias?
        Consectetur libero aspernatur corporis mollitia praesentium, molestiae recusandae. Aspernatur deleniti sint
        quaerat labore voluptatum, illum qui eveniet reiciendis? Nisi exercitationem, ea quibusdam fugit magnam ex
        laboriosam excepturi optio tenetur nesciunt.
        Adipisci, omnis. Explicabo atque eum accusantium rerum possimus illo, maiores tempore esse pariatur provident!
        Qui, placeat, ipsum molestiae quos rerum molestias, natus repellat velit corrupti quisquam amet doloribus
        deserunt ratione?
        Iusto, soluta dolorum molestias porro assumenda quidem voluptas nostrum repellendus repellat laudantium
        voluptates neque dignissimos aliquam, asperiores deserunt expedita laborum ab illum! Corrupti ducimus quod
        voluptates beatae iure alias quaerat?
        Veritatis aliquam natus nulla tempore eius quasi iure facere dolorem aperiam nemo repellendus quidem facilis qui
        autem officia, quia iusto repellat distinctio deserunt. Illo ab, magni cum illum soluta tenetur.
        Illo reprehenderit molestias minus velit ipsum cumque quia ex sapiente rerum repudiandae repellendus, repellat
        minima aliquid ipsam explicabo illum facilis amet possimus natus atque! Officiis exercitationem eius id
        excepturi ut!
        Voluptatum quia autem est ullam exercitationem reiciendis fuga rerum sed sunt iure illum hic, unde accusamus
        illo numquam nulla, dolorem explicabo. Officiis ipsum deleniti, repudiandae asperiores consequatur error vel
        blanditiis?
        Voluptate iusto esse qui pariatur error quisquam, odit alias reiciendis? Totam, neque reiciendis nisi cumque
        odit natus minima et commodi, alias explicabo velit nesciunt excepturi. Libero placeat aut accusantium commodi.
        Sed sit ratione earum distinctio fugiat facilis iusto repudiandae autem exercitationem praesentium quidem
        dignissimos laudantium illo facere ipsam accusamus accusantium debitis neque unde culpa perspiciatis, voluptatum
        quae? Ullam, laboriosam ipsum!
        Asperiores molestias expedita pariatur numquam sed nobis dolor corrupti consequatur amet nihil deleniti,
        deserunt omnis unde atque qui? Eum tempore laudantium ab porro ipsam dicta rerum veniam recusandae culpa? Ipsum.
        Eos doloribus voluptas iure illum quos quod ab reprehenderit maxime dolorem tenetur blanditiis sed nihil
        corporis, dignissimos quam excepturi repellendus similique fugiat, ullam perspiciatis? Eveniet vero deleniti
        molestias voluptatem cumque.
        Error aliquid earum laborum quibusdam, consectetur possimus sapiente deleniti neque voluptate ipsa? Dolorum aut
        accusamus dolore consequuntur doloremque eligendi quod, voluptatum vitae minus laborum consectetur nulla
        quisquam quas, maiores autem.
        A, dignissimos! In, facilis quod! Neque animi velit, dicta sunt amet dignissimos quaerat a aut dolore ad error
        accusamus aliquam at debitis, dolor, commodi cupiditate eligendi libero vero magnam eveniet!
        Inventore dicta ipsum earum voluptatibus ullam neque illo, beatae iste! Vero, quam molestiae magni accusamus
        sequi perferendis sint. Veritatis molestiae voluptatem voluptates ipsam quas ullam totam ratione earum
        temporibus assumenda?
        Tenetur cumque voluptatem dicta doloribus minus? Deleniti omnis in dolores perferendis esse distinctio
        consectetur sapiente iste iusto laudantium ipsa delectus eum dolorum cumque, vel, sit facilis aperiam natus
        explicabo ex.
        Quae deserunt dolore eos ad quisquam sed a in consequatur quos esse incidunt, veritatis numquam iste nobis
        doloremque accusantium hic neque vel modi, ut rerum error! Maxime labore quo officia.
        Nisi qui iure animi numquam doloribus minima laudantium impedit enim molestias quod, voluptates facere
        doloremque reiciendis veritatis dolore molestiae architecto inventore. Suscipit, placeat magnam cum corrupti
        corporis quisquam consectetur voluptas.
        Nemo, quis natus. Quibusdam commodi dolorum debitis, magni ea at aliquid nihil placeat, inventore maiores
        eligendi. Corporis vitae deleniti, dolore omnis, rem impedit debitis rerum minus hic odit dolores repellendus!
        At fugiat illum architecto. Tenetur, ad voluptate fugit tempora praesentium autem quos velit doloremque nobis
        dolores laboriosam aliquid quas optio adipisci, facilis sequi. Repudiandae, sed voluptatum soluta nobis porro
        ad?
        Laudantium suscipit assumenda aut! Sapiente recusandae nobis veniam veritatis consequatur impedit sunt quisquam
        perferendis nostrum distinctio ducimus ut, eum tenetur quibusdam reprehenderit soluta accusamus adipisci natus
        quo corrupti odio laborum!
        Veniam voluptatibus fugit porro nemo adipisci sit beatae inventore, exercitationem animi quasi accusamus quos
        esse optio eos ab doloremque. Dolorum laboriosam repudiandae ullam. Similique ad repudiandae non a, quos
        perferendis.
        Tempora facilis optio aperiam perspiciatis veritatis, dolorum ratione eveniet tempore laudantium veniam iure
        officiis nobis ab esse reprehenderit aliquid corporis sint quam voluptates rem unde et saepe eligendi.
        Temporibus, perferendis!
        Numquam, corporis. Amet, accusamus voluptatem! Repudiandae deleniti nostrum, accusantium, hic accusamus quam
        corrupti nesciunt illo itaque adipisci dignissimos quis optio voluptas tempora consequuntur iste, a recusandae
        esse similique impedit. Delectus.
        Odit cupiditate corrupti tempore sit veritatis, impedit nihil iusto accusamus accusantium laborum nemo! Id,
        soluta delectus. Vitae non quasi modi, eius iure, nemo quas in omnis ipsa reprehenderit temporibus doloremque?
        Cum deserunt consequuntur minima impedit quas itaque modi nihil molestiae dicta, illo temporibus sed quo
        corrupti optio alias, officiis eveniet enim ab. Laborum dignissimos recusandae ipsa iusto, dolorem laboriosam
        asperiores?
        Officia quo corrupti quaerat facere, modi consectetur exercitationem ratione doloremque similique temporibus ut
        magni sunt repudiandae doloribus sequi error non unde atque cum? Velit soluta accusamus earum autem iure omnis!
        Corrupti reprehenderit distinctio sint vel eveniet praesentium, optio maxime repellendus doloribus omnis saepe
        commodi libero quam esse accusantium amet animi harum. Neque, error libero minima iusto natus veniam ullam
        voluptatum?
        Libero voluptas minus quas et tempora minima harum sunt beatae nemo, officia eveniet nisi. Reprehenderit
        necessitatibus reiciendis amet eveniet eaque aliquid? Reprehenderit minima asperiores tempore alias. Quia
        voluptatem corrupti doloremque?
        Natus molestiae asperiores maxime ad mollitia esse porro iure consequuntur velit nostrum. Itaque quia placeat
        minus, ipsum, accusamus molestiae maxime laudantium harum porro quam error corporis esse, libero ducimus
        voluptas.
        Officiis aliquam nulla quaerat in ad assumenda totam quasi, repellendus necessitatibus, eum animi error est vero
        magni corrupti molestiae nihil et ipsa optio temporibus obcaecati quidem? Ullam veniam temporibus fugiat.
        Facilis neque voluptatibus laboriosam architecto aliquam. Eius, modi. Voluptas fugit temporibus reprehenderit
        cum modi at repellendus repudiandae. Perspiciatis, neque natus quo consectetur vitae aliquid impedit, ratione ea
        at, autem veritatis?
        Labore, quia inventore? Dignissimos tenetur illo fugiat perferendis odit? Ipsam aliquid recusandae optio
        incidunt accusantium cum facere sapiente. Sequi amet perspiciatis molestias tempore consequuntur eos labore
        veritatis officia fugit optio.
        Cupiditate rerum amet porro doloremque error modi ab! Assumenda distinctio magni numquam eos? Praesentium
        voluptatum quia nostrum omnis dolores iste vero necessitatibus deserunt quae temporibus debitis, voluptatibus,
        ea nam labore.
        Dignissimos maxime cum repellendus voluptatibus debitis sint quos, exercitationem odio? Sapiente repellendus
        consectetur nobis? Commodi quae, vitae doloribus necessitatibus aliquid eveniet officia ipsa pariatur in animi.
        Et explicabo nihil enim.
        Accusamus officiis impedit maxime sint inventore ipsum sunt pariatur aperiam, tempora voluptatibus ipsam nisi
        atque ad numquam sit minus veniam animi asperiores. Ipsa rerum placeat quas debitis accusantium, quidem itaque?
        Obcaecati quo quibusdam sunt enim ad. Velit error alias, nihil qui fugit quas accusamus repellendus tempora
        facere corrupti consectetur dolorem aliquam unde eligendi nam. Delectus non fugiat recusandae consectetur animi.
        Rerum, adipisci eligendi. Corrupti expedita quia eveniet ea. Fugit, architecto esse. Tempora necessitatibus vel
        minima repellat, nobis sed maxime sunt accusantium a pariatur quae provident distinctio molestiae officia in.
        Repudiandae.
        Accusantium dolorem illo, autem voluptates fugiat minus cum. Saepe autem dolore dolor harum non soluta quibusdam
        nostrum commodi! Eligendi cum nihil culpa! Consequuntur voluptatem aliquam ipsum nihil, quasi sequi consequatur?
        Ratione neque debitis, excepturi labore veniam quisquam ex voluptatibus error inventore tenetur. Est voluptatem
        repudiandae nisi maiores. Quas quae similique asperiores, ea sint corrupti perferendis sapiente, architecto,
        ducimus omnis quasi.
        Minus reiciendis quasi iste dolorem doloribus? Expedita, adipisci iste, distinctio optio sequi sed ullam cumque
        laudantium explicabo officiis temporibus officia quam recusandae itaque molestiae aspernatur voluptatem tenetur
        beatae libero ipsum.
        Nemo provident sint labore nisi a. Placeat nulla amet quae natus delectus laboriosam quia soluta voluptatem.
        Provident, quo nulla? Quia a illo eius quam? Magnam aut nesciunt architecto reiciendis rerum.
        Iusto enim consequatur itaque vero nulla reiciendis sed? Illo maxime ducimus voluptates deleniti, est dolores,
        optio repellat accusantium voluptatibus quas aspernatur officia nulla in adipisci expedita magnam natus sit
        impedit.
        Cupiditate provident tempora recusandae molestiae, sit enim distinctio neque! Voluptatem placeat dicta
        molestias? Ducimus accusantium pariatur accusamus officia earum aliquid saepe nesciunt, quas vero voluptatibus
        sint aut blanditiis veniam id!
        Ullam exercitationem voluptate labore omnis, vero eius suscipit voluptatum nesciunt vel accusamus delectus
        sequi. Minus esse optio, tenetur maiores, deserunt doloremque in eum a accusantium molestias nemo amet totam
        laborum.
        Neque laudantium numquam sint. Quisquam consequatur illum a quidem distinctio magni, provident culpa mollitia
        magnam excepturi ab iste sit praesentium beatae iure sed odio libero nesciunt earum inventore? Blanditiis, amet!
        Recusandae veniam molestiae incidunt numquam quisquam nostrum tempora necessitatibus, consectetur delectus
        debitis, ad sequi cum, facere quae illum temporibus! Ipsam alias sit cupiditate exercitationem sequi assumenda,
        tenetur vitae rem recusandae?
        Pariatur eum expedita temporibus beatae at sit voluptates neque, quam doloribus hic illo laboriosam itaque ut
        fuga officiis dolorem saepe, magnam doloremque sapiente asperiores quisquam esse. Dignissimos laboriosam amet
        reprehenderit?
        Labore, similique. Quia in nihil consequuntur rerum adipisci consectetur mollitia facere illum reiciendis! Unde,
        vitae. Assumenda, consectetur expedita perferendis adipisci sunt explicabo quas veniam hic tenetur voluptatibus
        ducimus et praesentium.
        Facilis temporibus enim eius perferendis distinctio inventore reiciendis numquam ducimus possimus quisquam ipsum
        aut alias deleniti, placeat aperiam harum laboriosam fugiat dolorum optio debitis ut! Suscipit et cum numquam
        nam.
        Sapiente, dicta! Distinctio expedita minima hic fuga dolor earum laborum eligendi enim vel odit corporis minus,
        aliquid amet dolorum et sit tempora ipsa! Laborum consequuntur quod exercitationem nam, dolore eius.
        Sint vel quod nam beatae nobis, possimus rem quis a pariatur cumque, reprehenderit incidunt fugiat, quae
        cupiditate ipsa ea tempore totam necessitatibus animi officiis? Alias eligendi culpa delectus consequatur
        sapiente?
        Adipisci dolores nemo nobis veniam. Deserunt nulla ipsum eaque nisi alias repudiandae, accusantium ratione? Non,
        voluptas. Iure illum odit vel animi consequatur nostrum quo hic voluptates cum excepturi, nesciunt dicta.
        Obcaecati facere cumque ex aliquam aut laudantium, libero praesentium inventore, magni nihil eum nam, eius quo
        laboriosam! Pariatur nesciunt ex quod consequatur est. Veritatis vel quae obcaecati. Quis, optio laborum?
        Eveniet sapiente esse, sequi obcaecati et eligendi pariatur modi perferendis eum distinctio, reprehenderit eius,
        aspernatur qui officia vero voluptatibus ipsa porro cumque optio provident totam minus doloribus. Quidem,
        quaerat dolorum?
        Corrupti labore asperiores eaque harum tempore, libero odit veniam maxime numquam ullam hic itaque consectetur
        vitae eum, illo architecto excepturi sint, voluptatibus quas unde assumenda. Nemo alias tempora aut provident.
        Nobis, veniam cum iste laudantium sed, dignissimos, saepe dolores accusamus repellat quod nostrum maxime
        quisquam possimus dolore laborum dicta officia ipsam explicabo! Dolorum dolore consequuntur doloremque ducimus
        neque commodi ratione?
        Autem nostrum placeat illo sequi, voluptatibus eum minus. Earum, accusantium totam! Molestias reiciendis
        blanditiis debitis eligendi aliquam delectus dolorum quas! Ratione, fugiat ad iusto reiciendis ducimus minus
        quibusdam voluptas vel.
        Rem optio saepe fuga sunt adipisci nisi tempore quod debitis sint ipsum numquam, ea maiores expedita dolorem vel
        eveniet quo officia sequi labore, quae illo? Sunt aspernatur explicabo corporis voluptas.
        Minus incidunt quas doloribus, officiis tempore quam quia aspernatur voluptatem unde quibusdam dolores mollitia
        natus, maiores deleniti velit impedit illum aperiam modi magnam odit. Atque doloribus quasi tenetur quibusdam
        quam.
        Repellat pariatur unde, sit debitis id sed, dicta alias aspernatur quasi, saepe quibusdam? Ipsa in voluptas
        fugit tempora! Nemo provident ex asperiores esse animi, numquam debitis eveniet tempore natus aut.
        Laboriosam quas ipsam modi soluta, iure tempora tenetur cum harum laborum nobis rerum reiciendis fugiat
        praesentium sequi! Vitae sint harum eveniet earum reprehenderit, ut quod? Quasi consequatur voluptates ad
        commodi?
        Vitae nobis sapiente laborum iure fuga vero, aperiam maxime perferendis aut ad minus nihil sunt unde repellendus
        quasi cum quis officia ipsam explicabo ducimus eius quam aliquid atque iste! A.
        Earum iusto maxime sapiente fugiat! Inventore ipsum animi in similique, velit error atque possimus, maxime
        deserunt, magni sequi dolorum fuga modi quia aliquam earum fugiat accusamus natus vitae consequuntur minima!
        Quas, ipsam sed? Aliquid praesentium maiores possimus distinctio cum voluptas ex dicta porro impedit, excepturi
        sapiente assumenda nulla modi quisquam in aspernatur sunt aut reiciendis non consequatur officiis eligendi
        accusantium.
        Suscipit unde deleniti aspernatur itaque, quam sequi, dolorum est voluptatem quisquam repellat odit, magnam
        praesentium fugiat voluptas inventore quibusdam similique esse beatae. Cumque nam quasi accusamus ipsa ipsum,
        est eius.
        Enim nesciunt voluptate natus sunt sapiente possimus vitae quibusdam rerum quo magnam repellendus, consequatur
        voluptatem atque doloribus alias quasi, quaerat maxime illum recusandae temporibus ipsam placeat tempore
        veritatis! Asperiores, sit!
        Ipsum quidem provident ea perspiciatis saepe necessitatibus itaque ipsam unde, illum maiores ad. Quia vel nobis
        totam nesciunt eius quam, dolor rem asperiores tempora excepturi laborum reprehenderit doloribus dolore velit?
        Iure aut esse totam necessitatibus dicta suscipit. Impedit nobis similique perferendis vero, error, ducimus sunt
        esse illo corrupti nesciunt iure recusandae. Similique sapiente explicabo distinctio quis saepe rerum magni
        praesentium.
        Vero earum at corporis mollitia quisquam necessitatibus. Officiis provident placeat, id tenetur beatae
        aspernatur atque earum esse repudiandae voluptatum illo repellendus mollitia blanditiis, consequuntur maxime
        autem eum eius. Quas, voluptatem.
        Quas veritatis perferendis recusandae commodi sit obcaecati dignissimos nemo magni odit earum praesentium sint
        itaque odio rerum quis laboriosam harum, adipisci maiores similique tenetur reprehenderit, maxime id. Iste,
        ipsam obcaecati.
        Sint neque tempora nihil, rem similique aliquam ad qui vel quo nulla ducimus nisi. Eum recusandae ipsum deserunt
        illum vitae autem consequuntur! Enim numquam non facilis autem architecto. Repudiandae, reiciendis?
        Odit, fugiat, ipsa quam perspiciatis voluptas voluptatibus suscipit facilis maiores doloremque, ea eligendi
        iure. Unde eos optio pariatur magnam, repellat perferendis, et quasi officiis rerum ratione cupiditate.
        Consectetur, iusto eaque!
        Odio delectus eveniet distinctio non saepe aut aliquid cumque illo molestiae ab, quo commodi sed sit quos
        incidunt, odit doloremque excepturi, eligendi nesciunt est nam earum. Tempora quas recusandae optio?
        Dolores eveniet porro modi necessitatibus? Optio saepe necessitatibus tenetur voluptas totam dignissimos nihil
        veniam deleniti sequi voluptatum. Repellat in totam pariatur neque atque porro, voluptatum doloribus, vitae
        officia possimus distinctio.
        Iusto, soluta repellendus, amet mollitia eligendi saepe nisi earum est ex dolore molestias inventore sunt
        consequatur facere molestiae quod quisquam tenetur? Deleniti ad aspernatur cumque aliquid mollitia maxime
        numquam laboriosam.
        Earum est voluptatum, quod hic rerum nostrum recusandae dignissimos odio omnis possimus voluptate iure qui, quis
        veniam. Saepe recusandae blanditiis natus laudantium voluptatem? Incidunt hic pariatur quo cupiditate odit
        nobis!
        Sed, saepe! Fuga sunt ut, itaque neque molestiae ducimus maxime quam laudantium repellendus similique possimus,
        voluptas nisi culpa illo quae. Non earum quasi, doloribus corrupti rem consectetur dignissimos quia aut?</p>
    <!-- <div id="box-2-parent">
        <div id="box-2">123</div>
    </div>
    <div id="box-3"></div>
    <div id="box-4"></div>
    <div id="box-5"></div> -->
</body>

</html>