@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* @font-face {
    font-family: 'babarAzam';
    src: url(../text/index.html)
} */

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: italic;
  /* text-transform: uppercase; */
  text-transform: lowercase;
  /* text-transform: capitalize; */
  text-decoration: underline;
  line-height: 32px;
  word-spacing: 16px;
  letter-spacing: 8px;
  text-align: justify;
  text-indent: 8em;
  text-shadow: 2px 2px 12px green;
  /* font-size: 16px; */
  /* font-size: 50%; */
  /* font-size: 2em; */
}

p:first-letter {
  /* color: blue; */
  text-transform: uppercase;
}

p:first-line {
  color: blue;
  /* text-transform: uppercase; */
}

a:visited {
  color: red;
}

a {
  color: pink;
}

.text:hover {
  color: orange;
  cursor: zoom-out;
  font-weight: bold;
  font-size: 28px;
}

button {
  background-color: blanchedalmond;
}

button:active {
  color: white;
}

button:hover {
    background-color: red;
}


input:focus {
    background-color: green;
}

/* button[disable]{
    
} */

/* p[id]{

} */

.box {
    background-color: green;
    height: 25vh;
    width: 25vw;
}