/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap");

/* @font-face {
    font-family: 'babarAzam';
    src: url(../text/index.tof)
} */

p {
  /* text-align: ; */
  font-family:
   /* "Playwrite NZ Guides", */
   Roboto, Arial, Helvetica, sans-serif;
  font-weight: 100;
  /* font-style: italic; */
  /* text-transform: uppercase; */
  text-transform: lowercase;
  /* text-transform: capitalize; */
  text-decoration: underline;
  line-height: 32px;
  word-spacing: 16px;
  letter-spacing: 8px;
  text-align: right;
  text-indent: 8em;
  text-shadow: 10px 10px 10px green;
  /* font-size: 32px; */
  /* font-size: 200%; */
  /* font-size: 2em; */
}

p:first-letter {
  /* color: blue; */
  text-transform: uppercase;
}

p:first-line {
  color: blue;
  /* text-transform: uppercase; */
}

a:visited {
  color: red;
}
a:link{
  
}

a {
  color: pink;
  text-decoration: none ;
}

/* .text:hover {
  color: orange;
  cursor: zoom-out;
  font-weight: bold;
  font-size: 28px;
} */

button {
  background-color: blanchedalmond;
}

button:active {
  color: white;
}

button:hover {
  background-color: red;
}

input:focus {
  background-color: green;
}

/* button[disable]{
    
} */

/* p[id]{

} */

.box {
  background-color: green;
  height: 25vh;
  width: 25vw;
}
